<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="columns is-mobile">
        <div class="column">Letter Manager</div>
        <div align="end" class="column">
          <button mat-button
                  matTooltip="Add"
                  matTooltipPosition="below">
            <mat-icon class="has-margin-xs">add</mat-icon>
          </button>
          <button mat-button
                  matTooltip="Archive"
                  matTooltipPosition="below">
            <mat-icon class="has-margin-xs">archive</mat-icon>
          </button>
          <button color="warn"
                  mat-button
                  matTooltip="Logout"
                  matTooltipPosition="below">
            <mat-icon class="has-margin-xs">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container has-margin-top-md">
  <div class="columns">
    <div class="column">
      <mat-list>
        <mat-list-item>
          <span class="column is-2 is-bold">Title</span>
          <span class="column is-10">-Title-</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column is-2 is-bold">Letter No</span>
          <span class="column is-10">-Letter No-</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column is-2 is-bold">Subject</span>
          <span class="column is-10">-Subject-</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column is-2 is-bold">Letter Date</span>
          <span class="column is-10">-Letter Date-</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="column is-2 is-bold">Store Date</span>
          <span class="column is-10">-Store Date-</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div class="column is-12 has-text-right">
          <button mat-button>
            <mat-icon class="has-margin-xs">save</mat-icon>
            Download
          </button>
          <button mat-button>
            <mat-icon class="has-margin-xs">print</mat-icon>
            Print
          </button>
        </div>
      </mat-list>
    </div>
  </div>
  <div class="columns">
    <div class="column">
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div id="my-pdf" class="is-block"></div>
    </div>
  </div>
</div>
