<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="columns">
        <div class="column">Letter Manager</div>
        <div align="end" class="column">
          <button mat-button>
            <mat-icon class="has-margin-xs">add</mat-icon>
          </button>
          <button mat-button>
            <mat-icon class="has-margin-xs">folder_open</mat-icon>
          </button>
          <button mat-button>
            <mat-icon class="has-margin-xs">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">

</div>
