<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="columns is-mobile">
        <div class="column">Letter Manager</div>
        <div align="end" class="column">
          <button mat-button
                  matTooltip="Add"
                  matTooltipPosition="below">
            <mat-icon class="has-margin-xs">add</mat-icon>
          </button>
          <button mat-button
                  matTooltip="Archive"
                  matTooltipPosition="below">
            <mat-icon class="has-margin-xs">archive</mat-icon>
          </button>
          <button color="warn"
                  mat-button
                  matTooltip="Logout"
                  matTooltipPosition="below">
            <mat-icon class="has-margin-xs">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container has-margin-top-md">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Search your documents here
        </mat-expansion-panel-header>
        <mat-form-field class="is-block" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field class="is-block" appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="is-block" appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="Subject">
        </mat-form-field>
        <mat-action-row>
          <button mat-button>
            <mat-icon class="has-margin-xs">search</mat-icon>
            Search
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="columns has-margin-top-lg">
    <div class="column">
      <mat-card class="has-margin-xl">
        <mat-card-content align="center">
          <mat-icon class="has-text-grey" style="font-size: 64px; width: 64px; height: 64px">search</mat-icon>
          <p>
            Looking for a specific document
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="is-uppercase">Search</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="has-margin-xl">
        <mat-card-content align="center">
          <mat-icon class="has-text-grey" style="font-size: 64px; width: 64px; height: 64px">add</mat-icon>
          <p>
            Store a new documents
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="is-uppercase">Add</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="has-margin-xl">
        <mat-card-content align="center">
          <mat-icon class="has-text-grey" style="font-size: 64px; width: 64px; height: 64px">archive</mat-icon>
          <p>
            List stored documents
          </p>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="is-uppercase">Archive</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
